<body>
    <div class="container pt-4">
        <div class="col">
            <button type="button" class="btn btn-outline-dark" routerLink="/admin"><i class="fas fa-window-close"></i></button>
        </div>
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="bleu">
                    <div class="card text-center">
                        <a><img src="../../assets/img/user.png" style="width:100px;height: 70px; top:5px;"></a>
                        <h5 class="titre">{{titre}}</h5>
                        <div class="card-body">
                            <h6 class="texcenter">Enregistrer un utilisateur</h6>
                            <div *ngIf="Loading" class="spinner-border " role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                            <span *ngIf="creatUser.invalid" style="color:red">Tous les champs sont obligatoire</span>
                            <form class="mt-4" [formGroup]="creatUser" (ngSubmit)="onCreateUser()" onsubmit="return false;">
                                <span *ngIf="al==true" style="color:red">{{message}}</span>
                                <div class="row">
                                    <div class="col">
                                        <input type="text" class="form-control form-control-lg" formControlName="nom" autocomplete="off" placeholder="Nom">
                                    </div>
                                    <div class="col">
                                        <input type="text" class="form-control form-control-lg" formControlName="prenom" autocomplete="off" placeholder="Prénom">
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col">
                                        <input type="text" class="form-control form-control-lg" formControlName="pseudo" autocomplete="off" placeholder="Pseudo">
                                    </div>
                                    <div class="col">
                                        <input type="text" class="form-control form-control-lg" formControlName="adresse" autocomplete="off" placeholder="Exemple Liberté 6">
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col">
                                        <input type="email" class="form-control form-control-lg" name="email" formControlName="email" autocomplete="off" placeholder="exemple@exemple.com" #email>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col">
                                        <input type="number" class="form-control form-control-lg" formControlName="telephone" autocomplete="off" placeholder="771642538">
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col">
                                        <input type="password" class="form-control form-control-lg" name="password" formControlName="password" autocomplete="off" placeholder="Mot de passe" #password>
                                    </div>
                                </div>

                                <div class="row mt-3">
                                    <div class="col">
                                        <h5 class="" align="center" color="grayscale">Role</h5>
                                    </div>
                                    <div class="col">
                                        <select class="form-select" aria-label="Disabled select example" class="form-control form-control-lg" formControlName="role">
                            <option *ngFor="let rol of roles" value="{{rol.role}}" >{{rol.role}}</option>
                        </select>
                                    </div>
                                </div>
                                <div class="d-grid gap-2 mt-3">
                                    <button class="btn btn-primary" type="submit" [disabled]="creatUser.invalid">Valider</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>